<header></header>
<avatar imageUrl="'http://some-image.png" text="Avatar"></avatar>
<card [card]="data"></card>
<rating-view [max]="10" [value]=".5" (clicked)="onRatingClick($event)"></rating-view>
<read-more-panel [mainText]="'main Text'" [readMoreText]="'read More Text'" [openLabel]="'my open'" [closedLabel]="'Close'"></read-more-panel>
<hero title="My Title" imageUrl="https://rare-gallery.com/thumbs/1256294-wild-flowers-meadow.jpg">
    <p>This is content.</p>
</hero>
<router-outlet></router-outlet>